body {
font-family: 'Indie Flower', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h5, p {
    font-family:'Indie Flower', cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: black;
}

footer {
    background: linear-gradient(#87ceeb, white);
    padding: 20px 0;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); }
  
  .carousel {
    border: solid #5637dd; 
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
  
.navbar {
    background-color: #c9e9f6;

}

.jumbotron {
    padding: 30px;
    background:linear-gradient(#87ceeb, white);
    color: black;
    
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
